body
{
	background-color: rgb(218,219,216);
	height: auto;
	width: auto;
}

h1
{
	text-align: center;
	font-size: 64px;
	font-family: Capture;
}

#navTop
{
	margin: 3%;
	background-color: rgb(035, 035, 035);
}

#navTop li
{
font-family: StenciliaA;
color: white;
display: inline-block;
text-decoration: none;
padding: 20px 30px;
border-right: 1px solid white;
}

#imgHome
{
	border: solid white 6px;
	width: 55%;
	height: 30%;
}

.centerHome
{
	text-align: center;
}

#navSide
{
/*	height: 35%;
*/	background-color: white;
	margin: 2%;
	display: inline-block;
/*	border: solid black 2px;
*/	margin-left: 21%;
}

#navSide li
{
	list-style-type: none;
	font-family: StenciliaB;
	margin: 10%;

}

#navSide h2
{
	font-family: Capture;
	padding: 2%;
	text-align: center;
	border-bottom: solid black 1px;
	font-size: 28px;
}

#navSide li a
{
	text-decoration: none;
	color: black;
	padding: 2%;
	font-size: 22px;
}

#centerItems
{
	display: inline-block;
	margin-right: 21%;
	height: 15%;
	width: 40%;
	color: grey;
	margin: 2%;
	border: solid black 2px;
	float: inherit;
	margin-top: -15%;

}

@font-face {
		font-family: "Capture";
		src: url('./fonts/Capture_it.ttf');
}

@font-face {
	font-family: "StenciliaA";
	src: url('./fonts/StenciliaA.ttf');
}

@font-face {
	font-family: "StenciliaB";
	src: url('./fonts/StenciliaB.ttf');
}
